.CodeDisplay {
  box-sizing: border-box;
  height: calc(100vh - 150px - 48px);
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  padding: 15px;
  float: left;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

.CodeDisplay .Code-Outside, .CodeDisplay .Display-Outside {
  max-height: calc(100vh - 150px - 48px);
  overflow-y: scroll;
}

.Display {
  padding: 1px;
}

.Code {
  text-align: left;
  padding: 10px 10px 10px 30px;
  font-size: 13px;
  line-height: 18px;
  background-color: #eee;
  font-family: "Times New Roman",Georgia,Serif;
  white-space: pre-wrap;
  word-break: break-all;
  position: relative;
}

.Code::before {
  content: '01.\A 02.\A 03.\A 04.\A 05.\A 06.\A 07.\A 08.\A 09.\A 10.\A 11.\A 12.\A 13.\A 14.\A 15.\A 16.\A 17.\A 18.\A 19.\A 20.\A 21.\A 22.\A 23.\A 24.\A 25.\A 26.\A 27.\A 28.\A 29.\A 30.\A 31.\A 32.\A 33.\A 34.\A 35.\A 36.\A 37.\A 38.\A 39.\A 40.\A 41.\A 42.\A 43.\A 44.\A 45.\A 46.\A 47.\A 48.\A 49.\A 50.\A 51.\A 52.\A 53.\A 54.\A 55.\A 56.\A 57.\A 58.\A 59.\A 60.\A 61.\A 62.\A 63.\A 64.\A 65.\A 66.\A 67.\A 68.\A 69.\A 70.\A 71.\A 72.\A 73.\A 74.\A 75.\A 76.\A 77.\A 78.\A 79.\A 80.\A 81.\A 82.\A 83.\A 84.\A 85.\A 86.\A 87.\A 88.\A 89.\A 90.\A 91.\A 92.\A 93.\A 94.\A 95.\A 96.\A 97.\A 98.\A 99';
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0;
  text-align: right;
  background-color: #fbfbfb;
  color: #333;
  outline: 100px solid #fbfbfb;
  clip: rect(-100px 2em 9999px 0);
  /* IE9+ */
  clip: rect(-100px 3.5ch 9999px 0);
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .CodeDisplay .Code-Outside, .CodeDisplay .Display-Outside {
    max-height: inherit;
    height: auto;
  }
}