.Background-Origin-Padding-Box
{
  padding:25px;
  border:10px dotted #000000;
  background-image: url("../../res/compatible_safari.png");
  background-repeat: no-repeat;
  background-origin:padding-box;
}

.Background-Origin-Border-Box
{
  padding:25px;
  border:10px dotted #000000;
  background-image: url("../../res/compatible_safari.png");
  background-repeat: no-repeat;
  background-origin:border-box;
}

.Background-Origin-Content-Box
{
  padding:25px;
  border:10px dotted #000000;
  background-image: url("../../res/compatible_safari.png");
  background-repeat: no-repeat;
  background-origin:content-box;
}