.Background-Color {
  height:100px;
    background-color: blue;
}

.Background-Image {
  height:200px;
  background-image: url("../../res/bg.jpeg");
  background-repeat: repeat;
}

.Background-Image-Position {
  height:100px;
  background-image: url("../../res/bg.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-size: 30% 60%;
  background-repeat: no-repeat;
}