* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-container {
  width: 100%;
  overflow: hidden;
}

.App-menu {
  width: 100%;
  float: left;
  background-color: lightblue;
}

.App-content {
  width: 100%;
  float: left;
}

.App-footer {
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 12px;
  color: #999;
  background: #fff;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  .App-menu {
    width: 25%;
    height: calc(100vh - 150px - 48px);
  }
  .App-content {
    width: 75%;
    height: calc(100vh - 150px - 48px);
  }
}